<a href="https://colab.research.google.com/github/vtziines/INTMI2025M/blob/main/Vitor_M28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ALGORITMO E LÓGICA DE PROGRAMAÇÃO

##VARIÁVEIS

In [ ]:
a = 10
b = 15
print(a+b)

25

##Tipos de dados

int - inteiro - para números inteiros

float - flutuante - para números com vírgula

str - string - para palavras e textos

bool - booleano - para Verdadeiro e falso (binário) - True ou False

In [ ]:
x = int(input("Digite um número: "))
y = float(input("Digite um número com vírgula: "))
z = str(input("Digite um texto: "))
w = bool(input("Digite um valor binário: "))

Digite um número: 15
Digite um número com vírgula: 1.5
Digite um texto: Uma palavra
Digite um valor binário: False

In [ ]:
print(x)
print(y)
print(z)
print(w)

15
1.5
Uma palavra
True

In [ ]:
print("Este é um número inteiro: ", x," e o próximo é uma flutuante: ", y)

Este é um número inteiro:  15  e o próximo é uma flutuante:  1.5

##Operadores

 Adição +

 Subtração -

 Multiplicação *

 Divisão /

 Potência ^

 Resto da divisão %

1 - Crie um algoritmo que receba 2 números, em variáveis diferentes (num1 - num2), depois faça as 4 operações com esses 2 números e mostre o resultado na tela.

In [ ]:
num1 = int(input("Digite um número: "))
num2 = int(input("Digite outro número: "))
print("A soma é: ", num1+num2)
print("A subtração é: ", num1-num2)
print("A multiplicação é: ", num1*num2)
print("A divisão é: ", num1/num2)

Digite um número: 77777
Digite outro número: 9887
A soma é:  87664
A subtração é:  67890
A multiplicação é:  768981199
A divisão é:  7.866592495195712

In [ ]:
print(f"O primeiro número é{num1} e o segundo é {num2}")

O primeiro número é77777 e o segundo é 9887

2- Crie um algoritimo que receba o nome do usuario na variável (nome), e a idade na variável (idade), e depois mostre na tela o seguinte frase:
Olá meu nome é (nome0 e eu tenho (idade) anos!

In [ ]:
#entradas
nome = str(input("nome"))
idade = str(input("idade"))
#saidas
print(f"olá meu nome é {nome} e eu tenho {idade} anos!")

nomevitor
idade15 anos
olá meu nome é vitor e eu tenho 15 anos anos!

In [ ]:
peso = float(input("digite seu peso(kg): " ))
altura = float(input("digite a sua altura(m)"))

#processamento
imc = peso/(altura**2)

#saidas
print(f" o seu imc é: {imc:.2f}]")

digite seu peso(kg): 56
digite a sua altura(m)1.75
 o seu imc é: 18.29]

3- crie um algoritmo que receba o nome do aluno, e 3 notas. depois calcule a média das notas e imprima na tela:
o aluno (aluno) está com (media) de media!

In [ ]:
#entradas
nome_aluno = str(input("Digite o nome do aluno: "))
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))

#processamento
media = (nota1 + nota2 + nota3) / 3

#saidas
print(f"O aluno {nome_aluno} está com {media:.2f} de media!")

Digite o nome do aluno: vitor
Digite a primeira nota: 10
Digite a segunda nota: 7
Digite a terceira nota: 2
O aluno vitor está com 6.33 de media!

#ESTRUTURA DE REPETIÇÃO

## for in range

Repete uma estrutura de codigo por N vez, que será
determinado por um contador (x, i, ou outra variável).

Ex:

In [ ]:
cont = 0

for cont in range(11):
  print("contador", cont)

contador 0
contador 1
contador 2
contador 3
contador 4
contador 5
contador 6
contador 7
contador 8
contador 9
contador 10

Crie um algoritmo que receba um número do usuário e imprima a tabuada deste número de 0 até 10.

In [ ]:
numero = int(input("Digite um número para ver a tabuada 5: "))

for i in range(11):
  resultado = numero * i
  print(f"{numero} x {i} = {resultado}")

Digite um número para ver a tabuada 5: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for cont in range(11):
  print(cont)

0
1
2
3
4
5
6
7
8
9
10

##Estrutura de repetição

for repete uma estrutura de código por N vezes

Crie um algoritmo que mostre os números pares entre 0 e 200

In [ ]:
for cont in range(201):
  if cont % 2 == 0:
    print(cont)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

##While - enquanto

Repete uma estrutura até ela ser atingida

In [11]:
numero = 0

while(numero < 10):
  print("menor que 10")
  numero = int(input("digete um numero:"))

print("Maior ou igual a 10")

menor que 10
digete um numero:10
Maior ou igual a 10

In [12]:
import random as rd

JOGO DA ADIVINHAÇÃO

In [ ]:
aleatorio = rd.randint(0, 100)

print("===================================================")
print("             JOGO DE ADIVINHAÇÃO                   ")
print("===================================================")
print("  Tente adivinhar o número que estou pensando!     ")
print("===================================================")

tentativa = 10


while (tentativa > 0):
  numero = int (input("digite um numero:"))
  if (numero == aleatorio):
    print("parabéns ! Você acertou!")
    break
  elif (numero > aleatorio):
    print ("digite um número menor")
  else:
    print("Digite um número maior:")
    tentativa -= 1
    if (tentativa == 0):
      print(" game over")

===================================================
             JOGO DE ADIVINHAÇÃO
===================================================
  Tente adivinhar o número que estou pensando!
===================================================
digite um numero:1
Digite um número maior:
digite um numero:11
Digite um número maior:
digite um numero:100
digite um número menor
digite um numero:3
Digite um número maior:
digite um numero:75
digite um número menor